<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Middle page</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <div class="container">
        <h1>Comprehensive Detection: Dark Media & Real-Time Object Tracking Solutions</h1>
        <h1>
        <marquee behavior="scroll" direction="left" aria-setsize="10px">Advanced Dark Images & Videos Detection and Real-Time Object Tracking</marquee>
        </h1>
        <div class="horizontal-container">
            <div class="item">
                <h2>Real-Time Object Detection</h2>
                <div class="horizontal-content">
                    <img  class="MyClass" alt="Real-Time Detection" id="real-time-image"/>
                    <button class="btnn"><a href="/realtime_detection">Click Here</a></button>
                </div>
            </div>
            <div class="item">
                <h2>Dark Images Detection</h2>
                <div class="horizontal-content">
                    <img class="MyClass1" alt="Loading">
                    <button class="btnn"><a href="/upload">Click Here</a></button>
                </div>
            </div>
            <div class="item">
                <h2>Dark Videos Detection</h2>
                <div class="horizontal-content">
                    <video controls>
                        <source class="MyClass2" type="video/mp4">
                    </video>
                    <button class="btnn"><a href="/upload">Click Here</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
